[submodule "ARC_engine/vendor/spdlog"]
	path = ARC_engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ARC_engine/vendor/GLFW"]
	path = ARC_engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "ARC_engine/vendor/imgui"]
	path = ARC_engine/vendor/imgui
	url = https://github.com/TheCherno/imgui
